<form method="POST">
  <label for="input-username">Username</label>
  <input id="input-username" type="text" value="{{user.username}}" name="username">
  <br>
  <label for="input-name">Name</label>
  <input id="input-name" type="text" value="{{user.name}}" name="name">
  <br>
  <label for="input-password">Password</label>
  <input id="input-password" type="password" placeholder="Password" name="password">
  <br>
  <button>Update</button>
</form>